.imagesize {
    max-height: 500px;
    max-width: 400px;
    border-radius: 60px;
    margin: auto;
}

.imagesize:hover {
    opacity: 0.3;
}

/* カード本体 /
    / 任意の横幅を指定 */
.card {
    width: 30%;
    position: relative;
    cursor: pointer;
    padding: 100px;
}

/* 擬似要素とpadding-topでカードの高さを指定 */
.card::before {
    content: "";
    display: block;
    padding-top: 142.5%;
}

/* カード内の画像 */
.card img {
    width: 100%;
}

/* カード裏面・表面の共通スタイル */
.card .back,
.card .front {
    transition: all 0.6s;
    position: absolute;
    left: 0;
    top: 0;
    height: 400px;
    width: 400px;
    backface-visibility: hidden;
}

/* カード表面のスタイル */
.card .front {
    transform: rotateY(-180deg);
}

/* ホバー時のカード裏面 */
.card:hover .back {
    transform: rotateY(180deg);
}

/* ホバー時のカード表面 */
.card:hover .front {
    transform: rotateY(0);
}

/* カード内部のスタイル */
.inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.description {
    color: black;
}

.title {
    color: black;
}