.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 0.82rem;
}

.button{
    height: 70px;
    width: 100px;
    border-radius: 6px;
    background-color: antiquewhite;
  }